/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/* Vars */
/* Cierre Vars */
/* Header */
#navbar__inline {
  height: 35px;
  align-content: center;
}
#navbar__inline .span__login {
  font-size: 0.8rem;
}
#navbar__inline .span__login-toggler {
  font-size: 0.8rem;
}
#navbar__inline .btn__avatar {
  border-radius: 10px;
  border: none;
  padding: 4%;
  font-weight: 500;
}
#navbar__inline .btn__avatar:active {
  padding: 2%;
}
#navbar__inline .user__img {
  border-radius: 50%;
  width: 75px;
}
#navbar__inline .link__index {
  text-decoration: none;
  font-weight: bold;
}
#navbar__inline .letra__q {
  color: #C9FFA5;
  letter-spacing: 1rem;
}
#navbar__inline .letra__p {
  color: #FFE766;
}
#navbar__inline .letra__l {
  color: #FF6B6B;
}
#navbar__inline .letra__a {
  color: #FFE766;
}
#navbar__inline .letra__y {
  color: #C9FFA5;
}
#navbar__inline #img-category {
  display: none;
}
#navbar__inline .btn__salir {
  position: absolute;
  bottom: 0%;
}

.container__foot {
  height: 50px;
  width: 100%;
  line-height: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.container__foot .menu__foot {
  display: flex;
  position: relative;
}

.container__foot .menu__foot li {
  font-size: 25px;
  list-style: none;
  flex: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.container__foot .menu__foot li a {
  color: white;
  transition: color 0.3s ease;
}

.container__foot .menu__foot li:hover a {
  color: white;
}

.container__foot .menu__foot .line {
  position: absolute;
  height: 5px;
  width: 33%;
  background: white;
  left: 40%;
  top: 0;
  transition: all 0.3s ease;
  display: none;
}

.container__foot .menu__foot li:nth-child(1):hover ~ .line {
  left: 0%;
}

.container__foot .menu__foot li:nth-child(2):hover ~ .line {
  left: 33.3%;
}

.container__foot .menu__foot li:nth-child(3):hover ~ .line {
  left: 66.6%;
}

.icon__foot {
  width: 25px;
}

.icon__home {
  font-size: 30px;
  color: #C9FFA5;
}

/* Footer */
#footer-web {
  width: 100%;
  height: 60px;
}
#footer-web .bi-arrow-left {
  width: 45px;
  height: 40px;
}
#footer-web .bi-arrow-left .arrow__return:hover {
  color: #cccccc;
}
#footer-web .img__icon__foot {
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  margin-bottom: 2px;
}

/* Cierre Footer */
/* Responsive */
@media (max-width: 575px) {
  #container-title-category {
    padding: 8%;
  }
  .triple-slider .logo-image {
    width: 160px;
    margin-left: -80px;
  }
  .logo {
    width: 20%;
  }
  .link__categoria {
    font-size: 0.8rem;
  }
  .tittle__index {
    font-size: 2.5rem;
  }
  #button-index {
    margin-top: 20%;
  }
  #button-index .button__jugar {
    padding: 4% 35% 4% 35%;
  }
  #navbar__inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  .title__categoria {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  #life-container {
    width: 100%;
    max-width: 80px;
  }
  #life-container .img__life {
    width: 12px;
    max-width: 12px;
  }
  #card-game {
    margin: 2% 0%;
  }
  #category-container {
    font-size: 1rem;
  }
  #question-container {
    font-size: 1rem;
  }
  #answer-buttons-container {
    width: 90%;
    font-size: 1rem;
  }
  .question {
    padding: 10px;
  }
  #footer-web {
    display: none;
  }
}
@media (min-width: 575px) and (max-width: 767px) {
  .logo {
    width: 20%;
  }
  .link__categoria {
    font-size: 0.8rem;
  }
  .tittle__index {
    font-size: 2.5rem;
  }
  #button-index {
    margin-top: 20%;
  }
  #button-index .button__jugar {
    padding: 4% 35% 4% 35%;
  }
  #navbar__inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
  }
  .title__categoria {
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
  }
  #life-container {
    width: 100%;
    max-width: 130px;
  }
  #life-container .img__life {
    width: 25px;
    max-width: 25px;
  }
  #category-container {
    font-size: 1.2rem;
  }
  #card-game {
    margin: 2% 5%;
  }
  #question-container {
    font-size: 1.2rem;
  }
  #answer-buttons-container {
    width: 100%;
    font-size: 1.2rem;
  }
  .question {
    padding: 10px;
  }
  #footer-web {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .logo {
    width: 10%;
  }
  .tittle__index {
    font-size: 3rem;
  }
  #button-index {
    margin-top: 5%;
  }
  #button-index .button__jugar {
    padding: 2% 20% 2% 20%;
  }
  #container-title-category {
    padding: 0%;
  }
  .title__categoria {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
  }
  #life-container {
    width: 100%;
    max-width: 130px;
  }
  #life-container .img__life {
    width: 25px;
    max-width: 25px;
  }
  #category-container {
    font-size: 1.5rem;
  }
  #card-game {
    margin: 3% 20%;
  }
  #question-container {
    font-size: 1.5rem;
  }
  #answer-buttons-container {
    width: 100%;
    font-size: 1.5rem;
  }
  #footer-mobile {
    display: none;
  }
}
/* fin Responsive  */
/* Index */
html {
  font-family: sans-serif;
}

#body-index {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background: #18212b;
  box-shadow: 0.5;
  opacity: 0.9;
  text-align: center;
}

#logo-animate {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.img__logo__index {
  width: 100%;
  max-width: 400px;
  animation: spin 3s linear reverse;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
    animation-duration: 4s;
  }
}

#name-GameApp .tittle__index {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
#name-GameApp .tittle__index .span__nameGame {
  display: inline-block;
  text-shadow: 1px 1px 0;
  transition: transform 0.5s ease-in-out;
  letter-spacing: 0.1rem;
  transform: rotate(-10deg);
}
#name-GameApp .tittle__index .span__nameGame.letra__q {
  color: #C9FFA5;
  letter-spacing: 1rem;
}
#name-GameApp .tittle__index .span__nameGame.letra__p {
  color: #FFE766;
}
#name-GameApp .tittle__index .span__nameGame.letra__l {
  color: #FF6B6B;
}
#name-GameApp .tittle__index .span__nameGame.letra__a {
  color: #FFE766;
}
#name-GameApp .tittle__index .span__nameGame.letra__y {
  color: #C9FFA5;
}
#name-GameApp .tittle__index .span__nameGame:hover {
  transform: rotateX(360deg);
}
#name-GameApp .tittle__index .span__nameGame:before {
  content: attr(data-letter);
  display: block;
  text-shadow: none;
  transform: translateZ(10px);
}

#button-index {
  text-align: center;
}
#button-index .button__jugar {
  color: #000000;
  font-size: 1.5rem;
  border-radius: 5rem;
  border: none;
  background-color: #C9FFA5;
  transition: all 0.5s ease;
  text-decoration: none;
  letter-spacing: 0.2rem;
}
#button-index .button__jugar:hover {
  transform: scale(1.1);
  background-color: #C9FFA5;
  padding: 3% 25% 3% 25%;
  color: #000000;
  box-shadow: 0 0 1rem #C9FFA5;
}
#button-index .button__jugar:active {
  transform: scale(1.1);
  background-color: #C9FFA5;
  padding: 3% 25% 3% 25%;
  color: #000000;
  box-shadow: 0 0 1rem #C9FFA5;
}

#footer-index {
  color: rgba(255, 255, 255, 0.4392156863);
  font-family: "Roboto", sans-serif;
}

/* Categorys */
swiper-container {
  width: 100%;
  max-width: 300px;
  height: -moz-max-content;
  height: max-content;
}

swiper-slide {
  background-position: center;
  background-size: cover;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 330px;
}

.mySwiper {
  --swiper-navigation-size: 30px;
  --swiper-theme-color: darkgray;
}

#categorias {
  height: 100%;
  background: #18212b;
  color: #fff;
  line-height: 1.5;
  font-family: -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#categorias .title__categoria {
  text-align: center;
  padding: 2%;
}
#categorias .title__categoria .letra__q {
  color: #C9FFA5;
}
#categorias .title__categoria .letra__p {
  color: #FFE766;
}
#categorias .title__categoria .letra__l {
  color: #FF6B6B;
}
#categorias .title__categoria .letra__a {
  color: #FFE766;
}
#categorias .title__categoria .letra__y {
  color: #C9FFA5;
}
#categorias .bg-image {
  width: 100%;
  background-color: #C9FFA5;
  border-radius: 10px;
  border: none;
}
#categorias .card {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

/* QuestionGame */
#body-gamePlay {
  height: 100%;
  max-height: 100%;
  background: #18212b;
  padding-bottom: 3%;
}
#body-gamePlay #life-container {
  align-items: center;
  border: 2px solid #FF6B6B;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
  font-size: 0.8rem;
}
#body-gamePlay #life-container #life {
  background: #FF6B6B;
}
#body-gamePlay #life-container .life__text {
  padding: 5%;
  text-align: center;
  background: #FF6B6B;
}

#card-game {
  border-radius: 10px solid #18212b;
}
#card-game #body-juegos {
  width: 100%;
  border-radius: 10px;
  height: -moz-max-content;
  height: max-content;
  background: rgba(25, 135, 84, 0.0705882353);
  text-align: center;
}

#time-life #timer-container {
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
#time-life #timer-container .div__time {
  width: 90px;
  border-radius: 3px;
  height: -moz-max-content;
  height: max-content;
  background: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
  padding: 5% 1%;
}
#time-life #timer-container .div__time__end {
  width: 90px;
  border-radius: 3px;
  height: -moz-max-content;
  height: max-content;
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1%;
  padding: 5% 1%;
}
#time-life #timer-container .time__empty {
  display: none;
}

#time-line {
  width: 100%;
  height: 26px;
}

.countdown-line {
  width: 100%;
  height: 26px;
  position: relative;
  overflow: hidden;
}

.countdown-line::after {
  content: "";
  height: 26px;
  position: absolute;
  background-color: #C9FFA5;
  top: 0;
  right: 0;
  animation: countdown 15s linear;
}
@keyframes countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

#playRoom #quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0% 0% 2% 0%;
  margin: 0 auto;
  text-align: center;
}
#playRoom #alert-correct {
  width: 300px;
  padding: 2%;
  margin-bottom: 1%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
#playRoom #alert-correct .textCorrect {
  border-radius: 10px;
  background: #d4edda;
  color: #155724;
  font-weight: bold;
  padding: 10px;
}
#playRoom #alert-correct .textIncorrect {
  border-radius: 10px;
  color: #721c24;
  background: #f8d7da;
  font-weight: bold;
  padding: 10px;
}
#playRoom #category-container {
  width: 90%;
  padding: 2%;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background: #FF6B6B;
  color: white;
  border-radius: 5px;
  margin-bottom: 1%;
}
#playRoom #question-container {
  background: #FFE766;
  width: 90%;
  font-weight: bold;
  border-radius: 10px;
  padding: 3%;
  margin-bottom: 20px;
}
#playRoom #answer-buttons-container {
  max-width: 1000px;
  border-radius: 5px;
  gap: 10px;
}
#playRoom #answer-buttons-container .answer__button {
  width: 100%;
  background-color: rgba(249, 249, 249, 0.9450980392);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#playRoom #answer-buttons-container .answer__button:hover {
  background-color: rgba(249, 249, 249, 0.9450980392);
  transition: all 0.3s;
}
#playRoom #answer-buttons-container .answer__button:active {
  background-color: rgba(249, 249, 249, 0.9450980392);
  transition: all 0.3s;
}
#playRoom #answer-buttons-container .correct {
  color: #155724;
  background: #d4edda;
  font-weight: bold;
}
#playRoom #answer-buttons-container .correct:hover {
  color: #155724;
  background: #d4edda;
  font-weight: bold;
}
#playRoom #answer-buttons-container .incorrect {
  color: #721c24;
  background: #f8d7da;
  font-weight: bold;
}
#playRoom #answer-buttons-container .incorrect:hover {
  color: #721c24;
  background: #f8d7da;
  font-weight: bold;
}
#playRoom #score-container {
  width: 100%;
  font-weight: bold;
  padding: 1%;
  border-radius: 10px;
  text-align: center;
}
#playRoom #score-container .score {
  padding: 2%;
  background: #C9FFA5;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
}
#playRoom #score-container .scoreFin {
  padding: 5%;
  border-radius: 15px;
  background: #C9FFA5;
  font-weight: bold;
  font-size: 2rem;
}

/* Login */
#card-login {
  width: 75%;
  max-width: 500px;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  background-color: whitesmoke;
  /* padding: 20px; */
  border-radius: 10px;
  text-align: center;
}
#card-login #icon__login {
  text-align: center;
  background: #18212b;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}
#card-login #icon__login .img-icon__login {
  width: 15%;
  height: 10%;
}
#card-login #icon__login .letra__q {
  color: #C9FFA5;
  letter-spacing: 1.5rem;
}
#card-login #icon__login .letra__p {
  color: #FFE766;
}
#card-login #icon__login .letra__l {
  color: #FF6B6B;
}
#card-login #icon__login .letra__a {
  color: #FFE766;
}
#card-login #icon__login .letra__y {
  color: #C9FFA5;
}
#card-login #icon__login .link__index {
  text-decoration: none;
}
#card-login #form__login {
  text-align: left;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#card-login #form__login .title__login {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
#card-login #form__login .label__login {
  display: inline-block;
  text-align: left;
  margin-bottom: 5px;
  color: rgba(128, 128, 128, 0.8588235294);
}
#card-login #form__login .input__register {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  border: whitesmoke;
  background: whitesmoke;
  border-bottom: #007bff solid 3px;
}
#card-login #form__login .input__register:focus {
  outline: unset;
}
#card-login #form__login #btn__ingresar {
  text-align: center;
}
#card-login #form__login #btn__ingresar .input__submit {
  text-align: center;
  padding: 15px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 5% 0% 10% 0%;
}
#card-login #form__login #btn__ingresar .input__submit:hover {
  background-color: #0062cc;
}
#card-login #register {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 2%;
}
#card-login #register .newUser {
  text-decoration: none;
}

.d__none {
  display: none;
}/*# sourceMappingURL=main.css.map */